<div class="recover-pass">
    <p class="title">{{userName}}, please enter with a new password</p>
    <div class="alert alert-danger" *ngIf="invalidCodeMessage">{{invalidCodeMessage}}</div>
    <form [hidden]="invalidCodeMessage" (submit)="saveNewPassword()">
        <div class="form-group" [class.has-danger]="pass.invalid && pass.touched">
            <label for="password">New Password</label>
            <input type="password" id="password" name="password" #pass="ngModel" [(ngModel)]="model.password" class="form-control" placeholder="Password" required minlength="6">
        </div>
        <div class="form-group" [class.has-danger]="conf.invalid && conf.touched">
            <label for="confirm">Confirm Password</label>
            <input type="password" id="confirm" name="confirm" #conf="ngModel" [(ngModel)]="model.confirm" class="form-control" placeholder="Confirm Password" required >
        </div>
        <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save Password</button>
    </form>
</div>
