<div *ngIf="table" class="row m-b-1">
    <div class="col-xs-6">
        <p>Showing from {{table.page * table.length}} to {{table.page * table.length + table.length}} of {{table.total}} <span *ngIf="table.totalFiltered">filtereds of {{table.totalFiltered}}</span></p>
    </div>
    <div class="col-xs-3">
        <select class="form-control" name="rows" [(ngModel)]="table.length" (ngModelChange)="pageTo(0)">
            <option *ngFor="let length of lengths">{{length}}</option>
        </select>
    </div>
    <div class="col-xs-3">
        <div class="dropdown pull-xs-right" #checkCols>
            <a class="btn btn-secondary dropdown-toggle"  href="javascript:;" (click)="checkCols.classList.toggle('open')">Columns</a>
            <ul class="dropdown-menu dropdown-menu-right" (mouseleave)="checkCols.classList.remove('open')">
                <li class="dropdown-item" *ngFor="let col of columns" >
                    <label class=""><input type="checkbox" [name]="col.data" [attr.checked]="col.visible" (change)="toggleColumn(col)"/> {{col.title}}</label>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <table *ngIf="table" class="table table-bordered table-hover">
        <thead class="thead-inverse">
            <tr>
                <th *ngIf="table.selectable">
                    <div class="checkbox">
                        <input type="checkbox">
                    </div>
                </th>
                <th *ngIf="actions.length">Actions</th>
                <th *ngFor="let col of columns" [class.hidden-xs-up]="!col.visible">{{col.title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of table.data">
                <th *ngIf="table.selectable">
                    <input type="checkbox" [attr.disabled]="row.disableCheck">
                </th>
                <th *ngIf="actions.length" [innerHTML]="rowActions(row)"></th>
                <td *ngFor="let col of columns" [class.hidden-xs-up]="!col.visible">{{row[col.data]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="pagging" class="row">
    <div class="btn-group">
        <button type="button" *ngFor="let pag of pagging" [disabled]="pag.page == -1" [class.active]="pag.page == table.page" class="btn btn-secondary" (click)="pageTo(pag.page)">{{pag.label}}</button>
    </div>
</div>