.login-form,
.recover-pass,
.forgot-pass {
    max-width: 450px;
    margin: auto;

    > .title {
        font-size: 1.2rem;

        padding-bottom: .5rem;
        border-bottom: 1px solid rgba($color-inverse, .3);
    }
}
