body {
  padding-top: 55px;
  background-color: #eee;
}

.footer {
  margin-top: 15px;
}

.login,
.forgot-pass,
.recover-pass {
  width: 400px;
  margin: 0 auto;
}

.has-navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 500px;
  background-color: #fff;
}

.table .dropdown-menu {
  border: none !important;
}