<div class="row">
    <h4>Users Management</h4>
    <hr>
</div>
<div class="row">
    <table *ngIf="table" class="table table-bordered table-hover">
        <thead class="thead-inverse">
            <tr>
                <th *ngIf="table.selectable">
                    <div class="checkbox">
                        <input type="checkbox">
                    </div>
                </th>
                <th width="150px">Ações</th>
                <th *ngFor="let col of table.columns">{{col.title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of table.data">
                <th *ngIf="table.selectable">
                    <input type="checkbox" [attr.disabled]="row.disableCheck">
                </th>
                <th>
                    <button type="button" class="btn btn-outline-warning btn-sm"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-check"></i></button>
                    <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-close"></i></button>
                </th>
                <td *ngFor="let col of table.columns">{{row[col.data]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="pagging" class="row">
    <div class="btn-group">
        <button type="button" *ngIf="pagging.showFirst" class="btn btn-secondary" (click)="pageToFirst()">First</button>
        <button type="button" *ngIf="pagging.showFirst" disabled class="btn btn-secondary" >...</button>
        <button type="button" *ngFor="let pag of pagging.pages" class="btn btn-secondary" (click)="pageTo(pag)">{{pag+1}}</button>
        <button type="button" *ngIf="pagging.showLast" disabled class="btn btn-secondary" >...</button>
        <button type="button" *ngIf="pagging.showLast" class="btn btn-secondary" (click)="pageToLast()">Last</button>
    </div>
</div>